<div class="container">
  <h1 class="text-center">{{photo.titulo}}</h1>
  <form [formGroup]="photoForm" class="row" (submit)="register($event)">
    <div class="col-md-6">
      <div class="form-group">
        <label>Título</label>
        <input
          formControlName="titulo"
          name="titulo"
          [(ngModel)]="photo.titulo"
          class="form-control"
          autocomplete="off">
        <div *ngIf="photoForm.controls.titulo.invalid">
          <span *ngIf="photoForm.controls.titulo.errors.required" class="form-control alert-danger">
            Título Obrigatório
          </span>
          <span *ngIf="photoForm.controls.titulo.errors.minlength" class="form-control alert-danger">
            O tamanho deve ter no mínimo 4 caracteres
          </span>
        </div>
      </div>
      <div class="form-group">
        <label>URL</label>
        <input
          formControlName="url"
          name="url"
          [(ngModel)]="photo.url"
          class="form-control"
          autocomplete="off">
        <span *ngIf="photoForm.controls.url.invalid" class="form-control alert-danger">
          URL Obrigatório
        </span>
      </div>
      <div class="form-group">
        <label>Descrição</label>
        <textarea
          formControlName="url"
          name="description"
          [(ngModel)]="photo.description"
          class="form-control"
          autocomplete="off">
        </textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="photoForm.invalid">Salvar</button>
      <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
      <hr />
    </div>
    <div class="col-md-6">
      <photo [url]="photo.url" [title]="photo.titulo"></photo>
    </div>
  </form>
</div>
